{% extends 'base.html.twig' %}

{% block title %}Booking index
{% endblock %}

{% block body %}
	<h1>Booking index</h1>

	<table class="table table-bordered border border-3  w-100">
		<thead>
			<tr class="bg-danger">
				<th>Id</th>
				<th>Title</th>
				<th>Start</th>
				<th>End</th>
				<th>Description</th>
				<th>All_day</th>
				<th>Background_color</th>
				<th>Border_color</th>
				<th>Text_color</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody class="bg-dark text-white">
			{% for booking in bookings %}
				<tr>
					<td>{{ booking.id }}</td>
					<td>{{ booking.title }}</td>
					<td>{{ booking.start ? booking.start|date('Y-m-d') : '' }}</td>
					<td>{{ booking.end ? booking.end|date('Y-m-d') : '' }}</td>
					<td>{{ booking.description }}</td>
					<td>{{ booking.allDay ? 'Yes' : 'No' }}</td>
					<td style="background-color:{{ booking.backgroundColor }}"></td>
					<td style="background-color:{{ booking.borderColor  }}"></td>
					<td style="background-color:{{ booking.textColor }}"></td>
					<td>
						<a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
						<a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_booking_new') }}">Create new</a>
{% endblock %}
